@tailwind base;
@tailwind components;
@tailwind utilities;

.main-background {
    background-image: url("/images/main.jpg");
}

@media screen and (max-width: 768px) {
    .header-section {
        flex-direction: column;
        align-items: center;
    }

    .header-section input,
    .header-section .icon {
        margin-bottom: 10px;
    }
    .blogs{
        text-align: center;
    }
}

.scrollable-element::-webkit-scrollbar {
    height: 0;
}